
@sa-height: 100px;

//
// The master ScripAuthor Selector
//
textarea.script-author + div.sa-master {

	// Generic styling of the add button
	.sa-btn-add {
		color: #FFF;
		background-color: #16A085;
		border: none;

		&:hover {
			background-color: #1ABC9C;
		}
	}

	// Generic styling of the del button
	.sa-btn-del {
		color: #FFF;
		background-color: #CC3300;
		border: none;

		&:hover {
			background-color: #FF9999;
		}
	}

	.sa-strip-row {

		> .sa-content {
			padding: 5px;

			.sa-strip {
	
				position: relative;
				float: left;
				border: solid 1px #CCC;
				border-radius: 4px;
				height: @sa-height;

				> .sa-content {
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					right: 26px;
				}

				> .sa-bkgd-story-txt {
					position: relative;
					float: left;
					top: 6px;
					left: 6px;
					resize : none;
				}

				> .sa-btn-add {
					position: absolute;
					right: 0;
					top: 0;
					bottom: 1;
					width: 26px;
					height: 50px;
				}

				> .sa-btn-del {
					position: absolute;
					right: 0;
					top: 1;
					bottom: 0;
					width: 26px;
					height: 50px;
				}
	
				&.last {
					> .sa-btn-add {
						display: none;
					}

					> .sa-btn-del {
						display: none;
					}
				}

			}

		}

		> .sa-btn-add {
			width: 100%;
		}

	}

}