textarea.script-author + div.sa-master .sa-btn-add {
  color: #FFF;
  background-color: #16A085;
  border: none;
}
textarea.script-author + div.sa-master .sa-btn-add:hover {
  background-color: #1ABC9C;
}
textarea.script-author + div.sa-master .sa-btn-del {
  color: #FFF;
  background-color: #CC3300;
  border: none;
}
textarea.script-author + div.sa-master .sa-btn-del:hover {
  background-color: #FF9999;
}
textarea.script-author + div.sa-master .sa-body {
  width: 100%;
  clear: both;
}
textarea.script-author + div.sa-master .sa-body .sa-general-info {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
textarea.script-author + div.sa-master .sa-body .sa-strip-rows-container {
  display: block;
  width: 100%;
}
textarea.script-author + div.sa-master .sa-general-info {
  padding: 5px;
  border: solid 1px #CCC;
  border-radius: 4px;
}
textarea.script-author + div.sa-master .sa-general-info .sa-content-info {
  height: 80px;
}
textarea.script-author + div.sa-master .sa-general-info .sa-content-info > .sa-bkgd-story-txt {
  display: inline-block;
  width: 40%;
  height: 100%;
  margin-bottom: 2px;
  resize: none;
}
textarea.script-author + div.sa-master .sa-general-info .sa-content-info > .sa-actors-panel {
  display: inline-block;
  width: 60%;
  height: 100%;
}
textarea.script-author + div.sa-master .sa-general-info .sa-content-info > .sa-actors-panel > .sa-actors-label {
  display: block;
  text-align: center;
  width: 100%;
  height: 22px;
}
textarea.script-author + div.sa-master .sa-general-info .sa-content-info > .sa-actors-panel > .sa-actors-base {
  width: 100%;
}
textarea.script-author + div.sa-master .sa-general-info .sa-content-info > .sa-actors-panel > .sa-actors-base > .sa-actors-toolbar {
  display: inline-block;
  margin: 0px 10px 4px 10px;
}
textarea.script-author + div.sa-master .sa-general-info .sa-content-info > .sa-actors-panel > .sa-actors-base > .sa-actors-toolbar > .sa-toolbar-icon {
  font-size: 100%;
}
textarea.script-author + div.sa-master .sa-general-info .sa-content-info > .sa-actors-panel > .sa-actors-base > .sa-actors-toolbar > .sa-toolbar-icon > .glyphicon {
  font-size: 148%;
  margin: 2px;
}
textarea.script-author + div.sa-master .sa-general-info .sa-content-info > .sa-actors-panel > .sa-actors-base > .sa-actors-canvas {
  display: inline-block;
  width: 88%;
  height: 55px;
  border: solid 1px #CCC;
  border-radius: 4px;
}
textarea.script-author + div.sa-master .sa-strip-row > .sa-content-row {
  margin-top: 5px;
}
textarea.script-author + div.sa-master .sa-strip-row > .sa-content-row .sa-strip {
  position: relative;
  float: left;
  border: solid 1px #CCC;
  border-radius: 4px;
  height: 100px;
}
textarea.script-author + div.sa-master .sa-strip-row > .sa-content-row .sa-strip > .sa-content {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 26px;
}
textarea.script-author + div.sa-master .sa-strip-row > .sa-content-row .sa-strip > .sa-bkgd-story-txt {
  position: relative;
  float: left;
  top: 6px;
  left: 6px;
  resize: none;
}
textarea.script-author + div.sa-master .sa-strip-row > .sa-content-row .sa-strip > .sa-btn-add {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 1;
  width: 26px;
  height: 50px;
}
textarea.script-author + div.sa-master .sa-strip-row > .sa-content-row .sa-strip > .sa-btn-del {
  position: absolute;
  right: 0;
  top: 1;
  bottom: 0;
  width: 26px;
  height: 50px;
}
textarea.script-author + div.sa-master .sa-strip-row > .sa-content-row .sa-strip.last > .sa-btn-add {
  display: none;
}
textarea.script-author + div.sa-master .sa-strip-row > .sa-content-row .sa-strip.last > .sa-btn-del {
  display: none;
}
textarea.script-author + div.sa-master .sa-strip-row > .sa-btn-add {
  width: 100%;
  border-radius: 4px;
  padding: 3px;
  margin: 5px 0px 0px 0px;
}
